nav {
  border-color: 10px, 10px, 10px, 10px;
  padding: 10px, 10px, 10px, 10px;
  margin: 10px, 10px, 10px, 10px;
  box-sizing: border-box;
  background-color: crimson;
  text-align: center;
  padding-top: 0%;
}

.contenedor{
    max-width: 70%;
    margin: 0 auto;
    border: 1px solid orange;
}